@font-face {
  font-family: "Marvel";
  src: url("../assets/Marvel-Regular.woff") format("woff");
}

.root {
  background-image: url("/drstrange.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  @apply min-h-screen;
}

.title {
  @apply bg-red-600 py-10;

  & .text {
    @apply text-3xl text-center text-white uppercase;
    font-size: 6rem;
    font-family: "Marvel";
  }
}
