.root {
  @apply rounded-md overflow-hidden;
}

.body {
  @apply relative cursor-pointer;

  & .img {
    object-position: center;
    object-fit: cover;
    height: 450px;
    width: 100%;
  }

  & .name {
    @apply absolute top-1 left-1 bg-gray-50/20 rounded-md p-1;
  }

  & .isDead {
    @apply absolute inset-0 h-full flex justify-center items-center text-[150px] bg-black/75 z-50;
  }

  & .overlay {
    @apply absolute inset-0 bg-black/75 z-50 opacity-0 transition-all duration-300;

    & .details {
      @apply flex flex-col justify-center items-center h-full text-white font-bold text-2xl;
    }
  }

  &:hover .overlay {
    opacity: 1;
  }
}

.btn {
  @apply w-full block bg-red-900 font-semibold p-4 hover:bg-red-500;
}
