.root {
  @apply rounded-md overflow-hidden;
}

.body {
  @apply relative cursor-pointer;

  & .img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  & .name {
    @apply absolute top-1 left-1 bg-gray-50/20 rounded-md p-1;
  }

  & .overlay {
    @apply absolute inset-0 bg-black/75 z-50 opacity-0 transition-all duration-300;

    & .details {
      @apply flex flex-col justify-center items-center h-full;
    }
  }

  &:hover .overlay {
    opacity: 1;
  }
}

.btn {
  @apply w-full block bg-red-900 font-semibold p-4 hover:bg-red-500;
}
